[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
opencv-python = "*"
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
pillow = "*"
pyqt5 = "*"
moviepy = "*"

[requires]
python_version = "3.6"
